.fileView{
    flex: 1;
    overflow: scroll;
}

.fileViewHeader__settings{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dadce0;
    background-color: white;
    padding-right: 10px;
    z-index: 999;
}

.fileView__row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fileView__titles{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85, 78, 78);
}

.fileView__titles>div>*{
    margin: 5px;
}

.fileView__titles__left{
    flex: 1;
}

.fileView__titles__right{
    display: flex;
}