.rightbar{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #dadce0;
}

.rightbar__top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightbar__top > img{
    object-fit: contain;
    width: 20px;
    margin: 10px 0;
}

.rightbar__plusIcon{
    display: flex;
    align-items: center;
    border-top: 1px solid #dadce0;
    margin-top: 10px;
}

.rightbar__plusIcon >.MuiSvgIcon-root{
    margin-top: 10px !important;
    color: #5f6368; 
}